

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/myjs/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="layui-col-md8">
        <form class="layui-form layui-form-pane" lay-filter="form_add" action="/Role/">
            <div class="layui-form-item">
                <label class="layui-form-label">编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="GoodsId" lay-verify="required" placeholder="请输入" readonly="" style="color:crimson" class="layui-input" value="@ViewBag.ConsumableList.GoodsId">
                </div>
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="Name" lay-verify="required|maxlength" placeholder="请输入" class="layui-input" value="@ViewBag.ConsumableList.Name">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">单位</label>
                <div class="layui-input-inline">
                    <input type="text" name="Unit" lay-verify="required" placeholder="请输入" class="layui-input" value="@ViewBag.ConsumableList.Unit">
                </div>
                <label class="layui-form-label">数量</label>
                <div class="layui-input-inline">
                    <input type="text" name="Num" lay-verify="required" placeholder="请输入" class="layui-input" value="@ViewBag.ConsumableList.Num">
                </div>

            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">类别</label>
                <div class="layui-input-inline ">
                    <select name="CategoryId">
                        @foreach (var item in ViewBag.Category)
                        {
                            <option value=@item.Id @(item.Id== ViewBag.ConsumableList.CategoryId ? "selected":null)> @item.CategoryName</option>
                        }
                    </select>
                </div>

            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">价格</label>
                <div class="layui-input-inline">
                    <input type="text" name="Money" lay-verify="required" placeholder="请输入" class="layui-input" value="@ViewBag.ConsumableList.Money">
                </div>
                <label class="layui-form-label">规格</label>
                <div class="layui-input-inline">
                    <input type="text" name="Specification" lay-verify="required" placeholder="请输入" class="layui-input" value="@ViewBag.ConsumableList.Specification">
                </div>

            </div>

            <div class="layui-form-item" style="text-align:center">
                <button class="layui-btn" lay-submit="" lay-filter="formDemo">确认修改</button>
            </div>
        </form>
    </div>

    <script>

        layui.use(['form'], function () {
            var form = layui.form

            //自定义验证规则
            form.verify({
                maxlength: function (value) {
                    //value 参数就是文本框中的值
                    if (value.length > 16) {
                        return '不能超过16个字符';//验证不通过
                    }
                }
                //判断用户账号是否存在
                @*, isrepeat: function (value) {
                    debugger;
                    var callbackdata;
                    $.ajax({
                        url: "/User/CheckRepeat",
                        type: "post",
                        async: false,//同步--很关键
                        data: {
                            value: value
                        },
                        success: function (data) {
                            callbackdata = data;
                        }
                    });
                    if (callbackdata == "no") {
                        return ("同一用户名的信息已存在，请添加其他用户信息！");
                    }
                }*@
            });





            //监听提交
            form.on('submit(formDemo)', function (data) {
                //debugger;
                $.ajax({
                    url: '/Goods_Consumable/Update',
                    method: 'post',
                    data: data.field,
                    async: false,//同步,粗暴的防止手贱点多次-->办法2，禁用提交按钮（由你喜欢）
                    success: function (data) {
                        //debugger;
                        if (data == "ok") {
                            layer.alert("修改成功！");

                            setTimeout(function () {
                                //休眠1秒后页面跳转
                                //window.location.href = "/User/Update";
                                //关闭当前弹框
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                //parent.layer.close(index); //再执行关闭
                                window.parent.btn_search();//调用父页面的方法
                                parent.layer.close(index);//再执行关闭
                            }, 2000);


                        } else {
                            layer.alert("修改失败");
                        }
                    }
                });
                return false;//防止页面跳转--很关键
            });
        });

    </script>

</body>
</html>
